README.md
athena/backend/.gradle
athena/backend/.idea
athena/backend/logs
athena/backend/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

*.DS_Store
athena/.DS_Store
athena/backend/.DS_Store

athena/backend/docker-data